@font-face {
  font-family: "worksans";
  src: url('../fonts/WorkSans.eot');
  src: url('../fonts/WorkSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WorkSans.woff2') format('woff2'), 
    url('../fonts/WorkSans.woff') format('woff'),
    url('../fonts/WorkSans.ttf') format('truetype');
   }

@font-face {
  font-family: "ptsans";
  src: url('../fonts/ptsans.eot');
  src: url('../fonts/ptsans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ptsans.woff2') format('woff2'), 
    url('../fonts/ptsans.woff') format('woff'),
    url('../fonts/ptsans.ttf') format('truetype');
   }