BackgroundColorPage = #F2F2F2
BackgroundColorHeaderSignup = #5A61ED
BackgroundColorBtn = #5A61ED

textColorMain = #111111
textColorSecond = #7C7C7C
textColorLink = #5A61ED
textColorBtn = #FFFFFF
textColorPageHeader = #FFFFFF

borderColor = #F2F2F2
borderColorHover = #C2C2C2

btnColor = #5A61ED
btnColorHover = #5157D6
btnColorActive = #474CBC

linkColorHover = #4348AE
linkColorActive = #2A2E27